@import url('https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,wght@8..144,600&display=swap');
 
body{
    font-family: 'Roboto Flex', sans-serif;
    background-color: #F9F3EE;
}

button{
    background-color: #7D1E6A;
    border-radius: 25px;
    color: #fff;
}